.grid{
    position: absolute;
    width:600px;
    height:100%;
    background-color: black;
    border-top:solid gray 10px;
    border-left: solid gray 10px;
    border-right:solid gray 10px;
}

*{
    margin: 0;
    box-sizing: border-box;
}



.paddle{
    position: absolute;
    width: 100px;
    height: 15px;
    background-color: salmon;
}

.brick{
    position: absolute;
    width: 57px;
    height: 15px;
    /* background-color: ; */
}

.ball{
    position:absolute;
    width:15px;
    height:15px;
    border-radius: 100px;
    background-color: white;
}