<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Bricked</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
</body>

<div class="scoreboard">
    <div class="time">
        <p>Time:</p>
        <pre id="t1">  </pre>
        <p id="time">0m:0s</p>
    </div>
    <div class="score">
        <p>Score:</p>
        <pre id="t1">  </pre>
        <p id="score">0</p>
    </div>
    <div class="lives">
        <p>Lives:</p>
        <pre id="t1">  </pre>
    </div>
    <div class="currentLevel">
        <p>Level:</p>
        <pre id="t1">  </pre>
        <p id="level">1</p>
    </div>
</div>


<script type="module" src="script.js"></script>
<script type="text/javascript" src="https://npmcdn.com/parse/dist/parse.min.js"></script>

</html>