<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Get Bricked</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <div class="scoreboard">
            <div class="time">
                <p>Time:</p>
                <p id="time">0hr:0m:0s</p>
            </div>
            <div class="score">
                <p>Score:</p>
                <p id="score">0</p>
            </div>
            <div class="lives">
                <p>Lives:</p>
                <p id="lives">3</p>
            </div>
            <div class="currentLevel">
                <p>Level:</p>
                <p id="level">1</p>
            </div>
        </div>
        <div class="grid"></div>
    </body>
    <script type="module" src="script.js"></script>
</html>
